.button {
  display: block;
  box-sizing: border-box;
  padding: 14px;

  font-size: 17px;
  line-height: 20px;
  font-family: "opensansbold", "Arial", sans-serif;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background: none;
  border: none;
  cursor: pointer;

  transition: 0.1s ease-in-out;

  &--border {
    color: #444444;

    border: 2px solid #444444;
  }

  &--border:hover {
    color: #ffffff;

    background-color: #444444;
  }

  &--border:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #444444;
  }

  &--fill {
    color: #ffffff;

    background-color: #63d1bb;
  }
}
