.catalog-buttons {
  box-sizing: border-box;
  margin: 0;
  margin-top: auto;
  padding: 0;

  list-style: none;
}

.catalog-buttons__link {
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 103px;
  padding: 25px 30px;
  padding-right: 160px;

  text-decoration: none;

  transition: 0.1s ease-in-out;

  @include osbold(19px, 24px, #ffffff);

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &:hover .catalog-buttons__icon {
    fill: rgba(20, 144, 128, 0.7);
  }

  &:active .catalog-buttons__icon {
    fill: rgba(20, 144, 128, 0.3);
  }
}

.catalog-buttons__icon {
  position: absolute;
  top: 50%;

  box-sizing: border-box;

  transform: translateY(-50%);

  transition: 0.1s ease-in-out;

  fill: rgba(20, 144, 128, 0.5);

  &--interior {
    right: 35px;

    width: 40px;
    height: 62px;
  }

  &--toys {
    right: 26px;

    width: 60px;
    height: 60px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-buttons {
    position: relative;

    display: flex;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -12px;
      left: 0;
      z-index: 1;

      box-sizing: border-box;
      height: 34px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 100% auto;
    }
  }

  .catalog-buttons__item {
    width: 50%;
  }

  .catalog-buttons__link {
    min-height: 117px;
    padding: 28px 35px;
    padding-right: 160px;

    @include osbold(20px, 30px, #ffffff);
  }

  .catalog-buttons__icon {
    &--interior {
      right: 36px;
    }

    &--toys {
      right: 33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-buttons {
    &::after {
      bottom: -19px;

      background-size: 100% 34px;
    }
  }

  .catalog-buttons__link {
    width: 525px;
    padding-right: 350px;

    @include osbold(20px, 30px, #ffffff);
  }
}
