.main-сontent {
  box-sizing: border-box;
}

.main-сontent__header {
  box-sizing: border-box;
  min-height: 488px;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: center -18px;
  background-repeat: no-repeat;
  background-size: 179.6875% auto;
  @media (min-resolution: 1.5dppx) {
    background-image: url("../../img/hero-mobile@2x.jpg");
  }
}

.main-сontent__slogan {
  @include osbold(27px, 30px, #000000);
  box-sizing: border-box;
  display: block;
  width: 260px;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}

@media (min-width: $tablet-width) {
  .main-сontent__header {
    min-height: 743px;
    padding: 0 50px;
    background-image: url("../../img/hero-tablet@1x.jpg");
    background-position: center -1px;
    background-size: 149.7395833333333% auto;
    @media (min-resolution: 1.5dppx) {
      background-image: url("../../img/hero-tablet@2x.jpg");
    }
  }

  .main-сontent__slogan {
    @include osbold(43px, 50px, #000000);
    width: 520px;
    margin-top: 154px;
  }
}

@media (min-width: $desktop-width) {
  .main-сontent {
    padding: 0 50px;
  }

  .main-сontent__header {
    min-height: 743px;
    padding: 0;
    background-image: url("../../img/hero-desktop@1x.jpg");
    background-size: 100% auto;
    @media (min-resolution: 1.5dppx) {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }
  }

  .main-сontent__slogan {
    @include osbold(53px, 57px, #000000);
    width: 620px;
  }
}
