.menu
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
}

.menu__item
{
    box-sizing: border-box;

    &--new,
    &--sale
    {
        display: none;
    }
}

.menu__link
{
    display: flex;

    box-sizing: border-box;
    min-height: 79px;
    padding: 20px 30px;
    padding-left: 75px;

    transition: .1s ease-in-out;
    text-decoration: none;

    border-bottom: 1px solid #e7e7e7;

    @include osbold(17px, 24px, #000);
    align-items: center;

    &:hover
    {
        color: rgba(0, 0, 0, .6);
    }

    &:active
    {
        color: rgba(0, 0, 0, .3);
    }
}


@media (min-width: $tablet-width)
{
    .menu
    {
        display: flex;
    }

    .menu__item
    {
        flex-shrink: 0;
        &--catalog
        {
            margin-right: 36px;
        }
        &--new,
        &--sale
        {
            display: none;
        }
    }

    .menu__link
    {
        font-size: 15px;

        display: block;

        min-height: auto;
        padding: 0;

        border: none;
    }
}

@media (min-width: $desktop-width)
{
    .menu
    {
        width: 450px;

        flex-wrap: wrap;
    }

    .menu__item
    {
        &--catalog,
        &--knitting
        {
            margin-bottom: 16px;
        }
        &--catalog
        {
            margin-right: 0;
        }
        &--new,
        &--sale
        {
            display: block;
        }
        &--new
        {
            margin-right: 60px;
        }
    }

    .menu__link
    {
        &--catalog,
        &--knitting
        {
            font-size: 17px;

            display: flex;

            height: 89px;
            padding: 20px 0;
            padding-right: 35px;

            align-items: center;
        }
        &--catalog
        {
            border-right: 1px solid #ececec;
        }
        &--knitting
        {
            padding-left: 34px;
        }
    }
}
