.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 374px;
  overflow: hidden;

  transition: 0.2s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.3);
  }
}

.product-card__image-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f1f1f1;
}

.product-card__image-link {
  display: block;
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
}

.product-card__image {
  box-sizing: border-box;
  width: 260px;
  height: 195px;

  @include responsive-image;
}

.product-card__description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 27px;

  border: 1px solid #ededed;
}

.product-card__top-wrapper {
  box-sizing: border-box;
  flex-shrink: 0;
  margin-bottom: 19px;
}

.product-card__heading-link {
  display: block;
  box-sizing: border-box;
  margin-bottom: 4px;

  text-decoration: none;
}

.product-card__heading {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  word-wrap: break-word;

  transition: 0.1s ease-in-out;

  @include osbold(17px, 24px, #000000);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__specifications {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 180px;

  word-wrap: break-word;
  overflow: hidden;

  @include osregular(13px, 30px, #444444);
}

.product-card__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  min-height: 46px;
  flex-shrink: 0;

  border-top: 1px solid #ececec;
}

.product-card__price {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  word-wrap: break-word;

  @include osbold(15px, 24px, #000000);
}

.product-card__cart-button {
  display: block;
  box-sizing: border-box;
  width: 21px;
  height: 18px;
  margin-bottom: 4px;
}

.product-card__cart-icon {
  box-sizing: border-box;
  width: 21px;
  height: 18px;

  fill: rgba(0, 0, 0, 0.2);

  &:hover {
    fill: rgba(99, 209, 187, 1);
  }

  &:active {
    fill: rgba(99, 209, 187, 0.6);
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: row;
    justify-content: space-between;
    height: 334px;
    min-height: auto;

    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  .product-card__image-link {
    flex-shrink: 0;
    width: 334px;
    height: 334px;
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }

  .product-card__top-wrapper {
    max-height: 214px;
    overflow: hidden;
  }

  .product-card__heading {
    @include osbold(20px, 24px, #000000);
  }

  .product-card__specifications {
    @include osregular(15px, 30px, #444444);
  }

  .product-card__price {
    @include osbold(17px, 24px, #000000);
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    flex-direction: column;
    justify-content: flex-start;
    width: 316px;
    height: 659px;
    margin-right: 50px;
  }

  .product-card__image-link {
    width: 316px;
    height: 462px;
  }

  .product-card__image {
    width: 316px;
    height: 462px;
  }

  .product-card__top-wrapper {
    margin-bottom: 0;
  }
}
