.promo {
  box-sizing: border-box;
  padding-bottom: 6px;
  background-image: url("../../img/bg-zigzag-line.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 319px 6px;
}

.promo__list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-bottom: 15px;
    background-size: 771px 15px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-bottom: 23px;
    background-size: 1050px 23px;
  }
}
