.show {
  box-sizing: border-box;
  padding: 0 30px 59px;
}

.show__list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .show {
    padding: 3px 50px 63px;
  }
}

@media (min-width: $desktop-width) {
  .show {
    padding-bottom: 105px;
  }
}
