.show-card {
  box-sizing: border-box;
  border: 1px solid #ececec;
  overflow: hidden;
    transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
  }
  &:active {
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.3);
  }
}

.show-card__heading {
  @include osbold(17px, 24px, #000000);
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  padding-left: 88px;
  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 33px 30px;
}

.show-card__video {
  box-sizing: border-box;
  width: 260px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.show-card__image {
  @include responsive-image;
  box-sizing: border-box;
  width: 260px;
  height: 150px;
}

.show-card__play-button {
  box-sizing: border-box;
  position: absolute;
  width: 101px;
  height: 77px;
  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 101px 77px;
  top: 50%;
  left: 50%;
  transition: 0.1s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  &:hover {
    transition: 0.1s ease-in-out;
    transform: translate(-50%, -50%) scale(1.2);
  }
  &:active {
    transition: 0.1s ease-in-out;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.show-card__bottom-wrapper {
  box-sizing: border-box;
  padding: 27px 32px;
}

.show-card__description {
  @include osregular(13px, 24px, #444444);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .show-card {
    display: flex;
    flex-direction: column;
  }

  .show-card__video {
    width: 668px;
    height: 455px;
    order: 1;
    margin-bottom: 33px;
  }

  .show-card__image {
    width: 668px;
    height: 455px;
  }

  .show-card__heading {
    @include osbold(20px, 24px, #000000);
    margin: 0 40px 32px;
    padding: 0;
    padding-top: 5px;
    padding-left: 64px;
    order: 2;
    background-position: 1px 0;
  }

  .show-card__bottom-wrapper {
    padding: 0 40px 45px;
    order: 3;
  }

  .show-card__description {
    @include osregular(15px, 30px, #444444);
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .show-card {
    min-height: auto;
    height: 455px;
    padding: 46px 16px 46px 720px;
    position: relative;
  }

  .show-card__video {
    width: 680px;
    height: 455px;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .show-card__image {
    width: 682px;
  }

  .show-card__heading {
    padding: 49px 90px 0 0;
    margin-bottom: 33px;
    background-position: 1px -5px;
  }

  .show-card__description {
    margin-bottom: 46px;
  }
}
