.social-links {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  flex-wrap: wrap;
}

.social-links__item {
  box-sizing: border-box;
}

.social-links__link {
  box-sizing: border-box;
  display: block;
}

.social-links__link-icon {
  fill: #000000;

  &:hover {
    fill: rgb(70, 193, 174);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }

  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }
}
